<div class="project">
    <img class="logo" src="{{asset image}}" alt="{{name}} Logo" />
    <span class="header">
        {{# website}}
        <a class="name" href="{{.}}" title="Website">{{../name}}</a>
        {{/ website}}
        {{^ website}}
        <span class="name">{{name}}</span>
        {{/ website}}
        <small class="description">{{description}}</small>
    </span>
    {{# stores}}
    <div class="stores">
        <span class="stars" title="{{rating}} {{pluralize "star" rating}}">
            {{# stars}}
            <svg class="star" width="32" height="32">
                {{# partial}}
                <defs>
                    <linearGradient id="{{id}}">
                        <stop offset="{{percent}}%" stop-color="var(--star-active)"></stop>
                        <stop offset="{{percent}}%" stop-color="var(--star-inactive)"></stop>
                    </linearGradient>
                </defs>
                <use href="#icon-star" fill="url(#{{id}})"></use>
                {{/ partial}}
                {{^ partial}}
                {{# if isFull}}
                <use href="#icon-star" fill="var(--star-active)"></use>
                {{else}}
                <use href="#icon-star" fill="var(--star-inactive)"></use>
                {{/ if}}
                {{/ partial}}
            </svg>
            {{/ stars}}
        </span>
        <span class="reviews">{{reviewCount}} {{pluralize "review" reviewCount}}</span>
        <span class="links">
            {{# links}}
            {{# apple}}
            <img src="{{asset "/images/projects/apple.svg"}}" alt="Apple Logo" /> <a href="{{url}}" title="App Store">{{list platforms}}</a>
            {{/ apple}}
            {{# chrome}}
            <img src="{{asset "/images/projects/chrome.svg"}}" alt="Chrome Logo" /> <a href="{{.}}" title="Chrome Extension">Chrome</a>
            {{/ chrome}}
            {{# firefox}}
            <img src="{{asset "/images/projects/firefox.svg"}}" alt="Firefox Logo" /> <a href="{{.}}" title="Firefox Add-on">Firefox</a>
            {{/ firefox}}
            {{# safari}}
            <img src="{{asset "/images/projects/safari.svg"}}" alt="Safari Logo" /> <a href="{{.}}" title="Safari Extension">Safari</a>
            {{/ safari}}
            {{# edge}}
            <img src="{{asset "/images/projects/edge.svg"}}" alt="Edge Logo" /> <a href="{{.}}" title="Edge Add-on">Edge</a>
            {{/ edge}}
            {{/ links}}
        </span>
    </div>
    {{/ stores}}
    {{# github}}
    <div class="source">
        <a href="{{.}}" title="Source Code">{{trim-start . "https://"}}</a>
    </div>
    {{/ github}}
</div>
